<div class="row" id="welcome">
	<div class="large-8 large-offset-2 columns">
		<div class="panel radius">
			<h2>Welcome to Blabber</h2>

			<% if current_user %>
				<div class="row">
					<div class="large-8 large-offset-2 columns">
						<div class="panel radius white">
							<h3>go do some blabbing!</h3>
						</div>
					</div>
				</div>
			<% else %>
				<div class="row">
					<div class="large-6 large-offset-3 columns">
						<div class="panel radius white">
							<h3>if ur a user</h3>
							<%= link_to "Sign In", signin_path, class: "button radius" %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-6 large-offset-3 columns">
						<div class="panel radius white">
							<h3>if ur a noob</h3>
							<%= link_to "Sign Up", signup_path, class: "button radius" %>
						</div>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>