<%= form_for(@blab) do |f| %>
  <% if @blab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blab.errors.count, "error") %> prohibited this blab from being saved:</h2>

      <ul>
      <% @blab.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
